<footer class="footer py-3 bg-body-tertiary">
  <div class="container row">
    <div class="d-flex col">
      <div class="d-flex flex-column align-items-start col-6 mb-2">
        <h5>Simple</h5>
        <h5>
          <span class="badge text-bg-secondary">3D Print Cost Calculator</span>
        </h5>
      </div>      
      <div class="d-flex flex-column align-items-start col mb-2">
        <span>UGet 3D models:</span>
        <a class="text-body-secondary" target="_blank" rel="noopener noreferrer">https://www.thingiverse.com</a>
        <a class="text-body-secondary" target="_blank" rel="noopener noreferrer">https://cults3d.com</a>
        <a class="text-body-secondary" target="_blank" rel="noopener noreferrer">https://www.printables.com</a>
      </div>
      <div class="d-flex flex-column align-items-start col mb-2">
        <span>Get filament or printer:</span>
        <a class="text-body-secondary" target="_blank" rel="noopener noreferrer">https://www.amazon.com</a>
      </div>
    </div>

    <div class="d-flex flex-column align-items-start col-6">
      <p>&#174; 2025</p>
    </div>
  </div>
</footer>
