<div class="d-flex mb-3 space-between">
    <button type="button" class="btn btn-success btn-margin-right">Export to excell</button>
  <button type="submit" class="btn btn-danger">Clear</button>
</div>

<div>
  <div class="card border-gray mb-3">
    <div class="card-header">3D Print name</div>
    <div class="card-body">
      <ul>
        <li>
          <div>Material:</div>
          1.00$
        </li>
        <li>
          <div>Electricity:</div>
          0.30$
        </li>
        <li>
          <div>Labor:</div>
          2.00$
        </li>
        <li>
          <div>Depreciation:</div>
          0.70$
        </li>
     
        <li>
          <div><b> Total:</b></div>
          <b> 4.00$</b>
        </li>
      </ul>
    </div>
    <div class="card-footer bg-transparent">PLA - Sunlu</div>
  </div>
</div>
