
<div class="d-flex mb-3 space-between">
  <button type="button" class="btn btn-success">Export to excell</button>
  <button type="submit" class="btn btn-danger">Clear</button>
</div>

<div>
  <div class="card border-gray mb-3">
    <div class="card-header">3D Print name</div>
    <div class="card-body">
      <ul>
        <li>Material: 1$</li>
        <li>Electricity: 0.3$</li>
        <li>Labor: 2$</li>
        <li>Depreciation: 0.7$</li>
        <li><span>Total: 4$</span></li>
      </ul>
    </div>
    <div class="card-footer bg-transparent">PLA - Sunlu</div>
  </div>
</div>
