:host {
    display: block;                                                        
    margin-right: auto;
    margin-left: auto;
    max-width: 1200px;
    padding:20px;
    height: 100%;
    background-color: beige;
}       