<form class="pb-3 mb-5" [formGroup]="calculationForm" (ngSubmit)="onSubmit()">
  <button
    type="submit"
    class="btn btn-primary btn-margin-right"
    aria-label="Calculate button"
    [attr.aria-disabled]="!calculationForm.valid"
    [disabled]="!calculationForm.valid"
  >
    Calculate
  </button>

  <button
    type="submit"
    class="btn btn-danger"
    (click)="onClearForm()"
    aria-label="Clear form button"
  >
    Clear
  </button>
  <div class="mt-3">
    <label for="printName" class="form-label">Print/Model name</label>
    <input
      type="text"
      class="form-control"
      name="printName"
      id="printName"
      aria-label="Print model name input"
      [class.is-invalid]="
        calculationForm.get('printName')?.invalid &&
        calculationForm.get('printName')?.touched
      "
      formControlName="printName"
    />
  </div>

  <div class="mb-3">
    <label for="currency" class="form-label">Currency</label>
    <input
      type="text"
      class="form-control"
      name="currency"
      id="currency"
      aria-label="Currency input"
      [class.is-invalid]="
        calculationForm.get('currency')?.invalid &&
        calculationForm.get('currency')?.touched
      "
      formControlName="currency"
    />
  </div>

  <!-- Material cost -->

  <div class="card mb-3">
    <div class="card-body">
      <div class="mb-3">
        <label for="materialName" class="form-label"
          >Type/Name of material</label
        >
        <input
          type="text"
          class="form-control"
          name="materialName"
          id="materialName"
          aria-label="Type name of material input"
          [class.is-invalid]="
            calculationForm.get('materialName')?.invalid &&
            calculationForm.get('materialName')?.touched
          "
          formControlName="materialName"
        />
      </div>

      <div class="mb-3">
        <label for="materialPrice" class="form-label"
          >Material spool price</label
        >
        <input
          type="number"
          class="form-control"
          name="materialPrice"
          id="materialPrice"
          aria-label="Material spool price input"
          [class.is-invalid]="
            calculationForm.get('materialPrice')?.invalid &&
            calculationForm.get('materialPrice')?.touched
          "
          min="0"
          formControlName="materialPrice"
        />
      </div>

      <div class="mb-3">
        <label for="materialWeight" class="form-label"
          >Filament spool weight [g]</label
        >
        <input
          type="number"
          class="form-control"
          name="materialWeight"
          id="materialWeight"
          aria-label="Filament spool weight [g] input"
          [class.is-invalid]="
            calculationForm.get('materialWeight')?.invalid &&
            calculationForm.get('materialWeight')?.touched
          "
          min="0"
          formControlName="materialWeight"
        />
      </div>

      <div class="mb-3">
        <label for="printWeight" class="form-label"
          >3D print model weight [g]</label
        >
        <input
          type="number"
          class="form-control"
          name="printWeight"
          id="printWeight"
          aria-label="3D print model weight in grams input"
          [class.is-invalid]="
            calculationForm.get('printWeight')?.invalid &&
            calculationForm.get('printWeight')?.touched
          "
          min="0"
          formControlName="printWeight"
        />
      </div>
    </div>
  </div>

  <!-- Electricity cost -->

  <div class="card mb-3">
    <div class="card-body">
      <div class="row mb-3">
        <div class="col align-items-space-between">
          <label for="powerConsumption" class="form-label"
            >Power consumption [KWh]</label
          >
          <input
            type="number"
            class="form-control"
            name="powerConsumption"
            id="powerConsumption"
            aria-label="Power consumption in KWh's input"
            [class.is-invalid]="
              calculationForm.get('powerConsumption')?.invalid &&
              calculationForm.get('powerConsumption')?.touched
            "
            min="0"
            formControlName="powerConsumption"
          />
        </div>

        <div class="col align-items-space-between">
          <label for="kwhCost" class="form-label">Cost od 1KWh</label>
          <input
            type="number"
            class="form-control"
            name="kwhCost"
            id="kwhCost"
            aria-label="Cost od 1KWh input"
            [class.is-invalid]="
              calculationForm.get('kwhCost')?.invalid &&
              calculationForm.get('kwhCost')?.touched
            "
            min="0"
            formControlName="kwhCost"
          />
        </div>
      </div>

      <div class="row mb-3">
        <div class="col">
          <label for="printTimeH" class="form-label">Printing time [hh]</label>
          <input
            type="number"
            class="form-control"
            name="printTimeH"
            id="printTimeH"
            aria-label="Printing time in hours input"
            [class.is-invalid]="
              calculationForm.get('printTimeH')?.invalid &&
              calculationForm.get('printTimeH')?.touched
            "
            min="0"
            formControlName="printTimeH"
          />
        </div>
        <div class="col">
          <label for="printTimeM" class="form-label">Printing time [mm]</label>
          <input
            type="number"
            class="form-control"
            name="printTimeM"
            id="printTimeM"
            aria-label="Printing time in minutes input"
            [class.is-invalid]="
              calculationForm.get('laborHourCost')?.invalid &&
              calculationForm.get('laborHourCost')?.touched
            "
            min="0"
            formControlName="printTimeM"
          />
        </div>
      </div>
    </div>
  </div>

  <!-- Labor cost -->

  <div class="card mb-3">
    <div class="card-body">
      <div class="row mb-3">
        <div class="col">
          <label for="laborHourCost" class="form-label">Labor hour cost</label>
          <input
            type="number"
            class="form-control"
            name="laborHourCost"
            id="laborHourCost"
            aria-label="Labor hour cost input"
            [class.is-invalid]="
              calculationForm.get('laborHourCost')?.invalid &&
              calculationForm.get('laborHourCost')?.touched
            "
            min="0"
            formControlName="laborHourCost"
          />
        </div>
        <div class="col">
          <label for="laborHours" class="form-label">Labor hours</label>
          <input
            type="number"
            class="form-control"
            name="laborHours"
            id="laborHours"
            aria-label="Labor hours input"
            [class.is-invalid]="
              calculationForm.get('laborHours')?.invalid &&
              calculationForm.get('laborHours')?.touched
            "
            min="0"
            formControlName="laborHours"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="mb-3">
    <label for="machineDepreciation" class="form-label"
      >Machine Depreciation of 1h work</label
    >
    <input
      type="number"
      class="form-control"
      name="machineDepreciation"
      id="machineDepreciation"
      aria-label="Labor hour cost"
      min="0"
      [class.is-invalid]="
        calculationForm.get('machineDepreciation')?.invalid &&
        calculationForm.get('machineDepreciation')?.touched
      "
      aria-label="Machine depreciation of 1h work input"
      formControlName="machineDepreciation"
    />
  </div>
</form>
